<div class="reveal" id="antman-modal" data-reveal>
  <h1>Ant-Man</h1>
  <p class="lead">Today is a Good Day for Science!</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus.</p>
  <img src="img/art/illustration/antman.png" alt="Ant-Man">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="batman-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="cap-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="demondoor-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="figure-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="kirk-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="spiderman-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="stormtrooper-modal" data-reveal>
  <h1>Batman</h1>
  <p class="lead">Process animation</p>
  <p>Digital sketch created with open-source software and a Wacom Intuos3 stylus. Inked using vector software.</p>
  <img src="img/art/illustration/batman.gif" alt="Batman process animation">
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
